:host{

    overflow-x: hidden;
    width: 100%;
    border: 1px solid grey;
    overflow: hidden;
}

.flex-wrapper {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}

app-carousel-item{
    width: 100%;
    flex-shrink: 0;
}